.full-width {
  width: 100%; }

.select.fix-mg-top {
  margin-top: 27px; }

.input-space {
  margin-bottom: 30px !important; }

.custom-input input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #949494;
  font-size: 16px;
  color: #676767;
  padding-bottom: 5px; }

.login-page {
  background: #f1f1f1;
  height: 100vh;
  display: flex; }

.login-container {
  max-width: 470px;
  margin: auto; }

.a-center {
  text-align: center; }
