.full-width {
  width: 100%;
}

.select.fix-mg-top {
  margin-top: 27px;
}

.input-space {
  margin-bottom: 30px !important;
}

.login-page {
  background: #f1f1f1;
  height: 100vh;
  display: flex;
}

.login-container {
  max-width: 470px;
  margin: auto;
}

.a-center {
  text-align: center;
}
